.channel-listings-nav-header {
  @include full-width-container__inner;
  padding: 12px 0;
  background-color: $colors-bg-dark;
  display: none;
  font-size: 12px;
  color: $colors-text-med;
  @include until-large {
    display: block;
  }
}

.channel-listings {
  @include full-width-container;
  overflow-x: hidden;
  margin-bottom: $size-xl + $size-s;
  &__inner {
    @include full-width-container__inner;
    margin: $size-l auto;
  }
  &__header {
    border-bottom: 1px solid $colors-red;
    padding: $size-l 0;
    margin-bottom: $size-xs;
    @include until-large {
      padding: $size-m 0;
      margin-bottom: $size-l + $size-s;
    }
  }
  &__headline {
    @include header('gamma');
    margin-bottom: $size-xs;
  }
  &__copy {
    max-width: 70%;
    font-size: 14px;
    line-height: 20px;
    @include until-large {
      max-width: 100%;
    }
  }
}

.channel-listings-grid {
  display: flex;
  flex-direction: column;
  &__item {
    display: flex;
    padding: $size-l + $size-s;
    height: 125px;
    @include until-large {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding: $size-xl $size-l;
    }
  }
  &__item:nth-child(even) {
    background-color: $colors-bg-dark;
  } 
  &__sub-item {
    font-size: 14px;
    line-height: $size-l;
  }
  &__provider {
    width: 300px;
    @include until-large {
      margin-bottom: $size-s;
    }
  }
  &__channel {
    width: 700px;
  }
  &__header {
    color: $colors-text-med;
  }
}

.channel-listings-grid__item:first-child {
  display: flex;
  padding: 30px 30px 15px 30px;
  height: auto;
  @include until-large {
    display: none;
  }
  .channel-listings-grid__header {
    @include header('epsilon');
  }
}

.channel-listings-grid__sub-item > a {
  text-decoration: underline;
  color: $colors-pure-white;
}

