$icon-base-path: '/www/sho/lib/assets/svg' !default;
$colors-accent-primary: #2b8895;
$colors-accent-secondary: #01cbc9;
$colors-warm-grey: #1f1f1f;
$colors-crisp-grey: #5D5D59;
$colors-accent-grey:  #4f4f4f;